.textInput {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    line-height: 1.5;
    box-shadow: 0 0.25rem 0.25rem rgba(51, 51, 51, 0.04);
    border-radius: 0.25rem;
    background: #fff;
    transition: box-shadow 0.2s ease;
}

.textInput:focus {
    box-shadow: 0 0.25rem 1.5rem rgba(51, 51, 51, 0.24);
}
